$classic-base-color: #2c3e4c;
$classic-primary-color: #9bb9c8;
$classic-secondary-color: #dee8ed;
$classic-highlight-color: #f1a24c;

@import 'flavours/cutiecity/styles/variables';
@import 'flavours/cutiecity/styles/index';
