$classic-base-color: #383144;
$classic-primary-color: #867896;
$classic-secondary-color: #dbd8eb;
$classic-highlight-color: #d48393;

@import 'flavours/cutiecity/styles/light/variables';
@import 'flavours/cutiecity/styles/index';
@import 'flavours/glitch/styles/mastodon-light/diff';
@import 'flavours/cutiecity/styles/light/diff';
